<!--Page A propos-->
<div class="columns">
  <div class="column columns">
    <div class="card column is-3">
          <p class="card-header-title">Le site</p>
      <div class="card-content">
        <p class="has-text-justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nunc in nisl
          aliquet
          ultrices. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam massa, eget aliquam nisl nisl sit
          amet
          nisl. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam massa, eget aliquam nisl nisl sit amet
          nisl.
          Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam massa, eget aliquam nisl nisl sit amet nisl.
          Sed
          euismod, nisl sit amet aliquam tincid</p>
      </div>
    </div>
    <div class="card column is-3">
          <p class="card-header-title">Notre projet</p>
      <div class="card-content">
        <p class="has-text-justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nunc in nisl
          aliquet
          ultrices. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam massa, eget aliquam nisl nisl sit
          amet
          nisl. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam massa, eget aliquam nisl nisl sit amet
          nisl.
          Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam massa, eget aliquam nisl nisl sit amet nisl.
          Sed
          euismod, nisl sit amet aliquam tincid</p>
      </div>

  </div>
</div>
