<div>
  <h1 class="has-text-centered-desktop is-size-1" >Accueil</h1>
  <p class="has-text-centered-desktop">Bienvenue</p>
<!-- centered image link -->
  <div class="has-text-centered-desktop centered">
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
      <img src="https://cdn-icons-png.flaticon.com/512/2494/2494112.png" alt="Banana" width="100" height="100">
      <img src="https://cdn-icons-png.flaticon.com/512/1012/1012600.png" alt="Duck"   width="100" height="100">
    </a>
  </div>
</div>
